<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shakil.barivara">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity android:name=".activities.onboard.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.room.RentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.meter.ElectricityBillListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.tenant.NewTenantActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.tenant.TenantListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.room.RentDetailsActivity"
            android:label="@string/new_rent_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.meter.ElectricityBillDetailsActivity"
            android:label="@string/new_meter_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.room.RoomListActivity"
            android:label="@string/room_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.meter.MeterListActivity"
            android:label="@string/meter_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.meter.NewMeterActivity"
            android:label="@string/add_room"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.room.RoomActivity"
            android:label="@string/add_meter"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>