<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shakil.barivara">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-sdk tools:overrideLibrary="androidx.core.splashscreen" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_square"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppThemeNoActionBar">
        <activity
            android:theme="@style/SplashTheme"
            android:name=".presentation.onboard.SplashActivity"
            android:enabled="@bool/splash_enabled"
            android:exported="true"
            android:fitsSystemWindows="true"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.profile.ProfileActivity"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.settings.AboutUsActivity"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.auth.MobileRegVerificationActivity"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.generatebill.GenerateBillActivity"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.auth.LoginActivity"
            android:exported="true"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.auth.RegistrationActivity"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.auth.ForgotPasswordActivity"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.notification.NotificationActivity"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.onboard.MainActivity"
            android:exported="true"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.dashboard.DashboardActivity"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.room.RentListActivity"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.meter.ElectricityBillListActivity"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.tenant.NewTenantActivity"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.tenant.TenantListActivity"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.room.RentDetailsActivity"
            android:label="@string/new_rent_details"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.meter.ElectricityBillDetailsActivity"
            android:label="@string/new_meter_details"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.room.RoomListActivity"
            android:label="@string/room_list"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.meter.MeterListActivity"
            android:label="@string/meter_list"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.meter.NewMeterActivity"
            android:label="@string/add_room"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.room.RoomActivity"
            android:label="@string/add_meter"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.onboard.WelcomeActivity"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.tutorial.TutorialActivity"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.note.NoteListActivity"
            android:launchMode="singleTop"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".presentation.note.NewNoteActivity"
            android:parentActivityName=".presentation.note.NoteListActivity"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <service
            android:name=".servies.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3017517613101119~4596141661" />
    </application>

</manifest>